.form {
  display: flex;
  flex-direction: column;
  width: 400px;
  gap: 20px;
}

.form__submit {
  width: 70px;
  text-align: center;
}

.switch-question {
  margin-right: 10px;
}

.form__no-errors {
	display: none;
}

.form__errors {
	color: red;
}

.form__pop-up {
	background-color: rgba(28, 28, 28, 0.822);
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  z-index: 5;
}

.pop-up-text {
	width: 50%;
	max-width: 400px;
	height: calc(100vh * 0.2);
	background-color: white;
	position: absolute;
	padding: 0 20px;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	margin: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	border-radius: 7px;
}

// .form__switch {
//   display: flex;
// 	margin-bottom: 36px;
// 	overflow: hidden;
// }

// .form__switch input {
// 	position: absolute;
// 	height: 1px;
// 	width: 1px;
// 	border: 0;
// 	overflow: hidden;
// }

// .form__switch::after {
//   content: '';
//   width: 60px;
//   height: 25px;
//   background-color: antiquewhite;
//   position: relative;
//   right: 50px;
// }

// .form__switch label {
//   z-index: 2;
//   width: 20px;
//   height: 25px;
// 	background-color: #e4e4e4;
	// color: rgba(0, 0, 0, 0.6);
	// font-size: 14px;
	// line-height: 1;
	// text-align: center;
	// padding: 8px 16px;
	// margin-right: -1px;
	// border: 1px solid rgba(0, 0, 0, 0.2);
	// box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
	// transition: all 0.1s ease-in-out;
// }

// .form__switch label:hover {
// 	cursor: pointer;
// }

// .form__switch input:checked + label {
// 	background-color: #a5dc86;
// 	box-shadow: none;
// }

// .form__switch label:first-of-type {
// 	border-radius: 4px 0 0 4px;
// }

// .form__switch label:last-of-type {
// 	border-radius: 0 4px 4px 0;
// }